.neutral-0 {
  color: var(--neutral-0);
}

.neutral-300 {
  color: var(--neutral-300);
}

.neutral-500 {
  color: var(--neutral-500);
}

.neutral-700 {
  color: var(--neutral-700);
}

.neutral-900 {
  color: var(--neutral-900);
}

.orange-500 {
  color: var(--orange-500);
}

.orange-700 {
  color: var(--orange-700);
}

.bg-neutral-0 {
  background-color: var(--neutral-0);
}

.bg-neutral-300 {
  background-color: var(--neutral-300);
}

.bg-neutral-500 {
  background-color: var(--neutral-500);
}

.bg-neutral-700 {
  background-color: var(--neutral-700);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.bg-orange-500 {
  background-color: var(--orange-500);
}

.bg-orange-700 {
  background-color: var(--orange-700);
}

.bg-transparent {
  background-color: transparent;
}
